<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Optional <a href = "https://tufts-carpentries.github.io/2024-06-14-tufts-online/#setup">set-up</a> time </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00 am</td>        <!-- time    -->
        <td><a href = "https://librarycarpentry.org/lc-open-refine/">Open Refine</a></td>        <!-- content -->
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>1:00 pm</td>
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Python Programming Basics</a></td>
      </tr>
      <tr>
        <td>~3:00 pm</td>
        <td>Short break, followed by <a href="https://swcarpentry.github.io/python-novice-gapminder/">Data Visualization in Python</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00 pm</td>
        <td> End and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
